<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 288 288">
  <path
    fill="#AEA5D6"
    stroke="#171321"
    stroke-width="2"
    d="M287 181c0 22.41-15.768 42.89-41.676 57.823C219.443 253.741 183.621 263 144 263c-39.621 0-75.443-9.259-101.324-24.177C16.768 223.89 1 203.41 1 181v-18h286v18Z"
  />
  <ellipse cx="144" cy="161" fill="#E7E4F2" rx="144" ry="83" />
  <path
    stroke="#171321"
    stroke-width="2"
    d="M53.632 225.442C21.51 210.314 1 187.289 1 161.5 1 115.937 65.023 79 144 79s143 36.937 143 82.5S222.977 244 144 244c-29.826 0-57.52-5.268-80.438-14.28"
  />
  <path
    fill="#fff"
    d="M231 116.788 215 126v-16.2l-14 8.08L180 130v-25.643L210 38l17.662-10L196 99v5.357L215 93.5V74l16-9v51.788Z"
  />
  <path
    fill="#C5F4EC"
    d="m231 65-16 9-6.212-3.675 6.518-14.617L227.662 28 210 38l-17-10 17.662-10 17 10-12.356 27.708L231 65Zm-35 39.357L215 93.5 199.568 91 196 99v5.357Z"
  />
  <path fill="#6FDAC9" d="M180 104.357 210 38l-17-10-30 66.357 17 10Z" />
  <path
    fill="#10B1B1"
    d="M215 74v19.5L199.568 91l2.332-5.23 6.888-15.445L215 74Zm-35 56v-25.643l-17-10V120l17 10Zm35-4v-16.2l-14 8.08 14 8.12Z"
  />
  <path
    stroke="#171321"
    stroke-width="2"
    d="m215 126 16-9.212V114m-16 12v-16.2l-14 8.08m14 8.12-14-8.12M231 65l-16 9m16-9-15.694-9.292M231 65v41m-16-32v19.5m0-19.5-6.212-3.675M215 93.5l-19 10.857V99l3.568-8 2.332-5.23M215 93.5l-13.1-7.73M227.662 28 210 38m17.662-10-12.356 27.708M227.662 28l-17-10L193 28m17 10-30 66.357M210 38l-17-10m-13 76.357V130m0-25.643-17-10M180 130l21-12.12M180 130l-17-10V94.357M193 28l-30 66.357m38.9-8.588 6.888-15.444m0 0 6.518-14.617"
  />
  <path
    fill="#FFC2A8"
    d="M143 164.5v-22.078c-3.376 1.747-6.751 2.91-10 3.364V164.5c0 1.5 2 3 6 3 3.2 0 4-2 4-3Z"
  />
  <path
    fill="#FFC2A8"
    d="M178 85.5c0 23.14-17.509 47.872-35 56.922-3.376 1.747-6.751 2.91-10 3.364a21.627 21.627 0 0 1-3 .214c-3.653 0-6.609-.762-9-2.033-9.061-4.816-10-16.928-10-22.467 0-8.995 2.382-18.125 6.312-26.5 9.175-19.558 26.784-35 42.188-35 2.541 0 5.921.535 9.098 2.5 4.949 3.063 9.402 9.6 9.402 23Z"
  />
  <path
    fill="#FFC2A8"
    d="M173 87.942c0 11.32-4.815 23.084-11.705 32.558-8.297 11.41-19.602 19.5-29.131 19.5-4.876 0-8.292-1.615-10.682-4-4.905-4.895-5.482-13.031-5.482-17.081 0-20.075 13.635-40.93 28.5-49.212C148.75 67.34 153.1 66 157.261 66 162.791 66 173 69.012 173 87.942Z"
  />
  <path
    fill="#FF9D73"
    d="M147.5 53c2.382 0 5.502.47 8.5 2.148l11.892 6.94c.236.13.472.267.706.412l-.706-.411C164.928 60.459 161.853 60 159.5 60c-15.404 0-33.013 15.442-42.189 35l-11.999-7c9.175-19.558 26.784-35 42.188-35Zm-26.018 83c2.39 2.384 5.806 4 10.682 4 9.529 0 20.834-8.09 29.131-19.5l-4.542-2.695c-8.041 10.926-19.507 19.064-28.253 19.195-3.999.06-6.345-.667-7.018-1Z"
  />
  <path
    fill="#FF7B42"
    d="M109.5 137.221C99.973 132.592 99 120.139 99 114.5c0-8.995 2.382-18.125 6.311-26.5l12 7c-3.929 8.375-6.311 17.505-6.311 26.5 0 5.304.861 16.638 8.893 21.818l1.107.649a15.749 15.749 0 0 1-1.107-.649l-10.393-6.097ZM173 87.942C173 69.012 162.791 66 157.261 66c-4.161 0-8.511 1.34-12.761 3.707C162 66 166.5 78 166.5 92c0 8.755-3.998 17.993-9.747 25.805l4.542 2.695C168.185 111.026 173 99.262 173 87.942Z"
  />
  <path
    fill="#fff"
    d="M116 118.919c0 4.05.577 12.186 5.482 17.081.673.333 3.018 1.06 7.018 1 8.746-.131 20.212-8.269 28.253-19.195 5.749-7.812 9.747-17.05 9.747-25.805 0-14-4.5-26-22-22.293-14.865 8.281-28.5 29.137-28.5 49.212Z"
  />
  <path
    stroke="#171321"
    stroke-width="2"
    d="M168.598 62.5c-3.177-1.965-6.558-2.5-9.098-2.5-15.404 0-33.013 15.442-42.189 35m51.287-32.5c4.949 3.063 9.402 9.6 9.402 23 0 23.14-17.509 47.872-35 56.922M168.598 62.5 156 55.148C153.002 53.47 149.882 53 147.5 53c-15.404 0-33.013 15.442-42.189 35M121 143.967c2.391 1.271 5.347 2.033 9 2.033.985 0 1.986-.073 3-.214m-12-1.819c-9.061-4.816-10-16.928-10-22.467 0-8.995 2.382-18.125 6.311-26.5M121 143.967l-11.5-6.746C99.973 132.592 99 120.139 99 114.5c0-8.995 2.382-18.125 6.311-26.5m16.171 48c2.389 2.384 5.806 4 10.682 4 9.528 0 20.834-8.09 29.131-19.5M121.482 136c-4.905-4.895-5.482-13.031-5.482-17.081 0-20.075 13.635-40.93 28.5-49.212M121.482 136c.673.333 3.018 1.06 7.018 1 8.746-.131 20.212-8.269 28.253-19.195M144.5 69.707C148.75 67.34 153.1 66 157.261 66 162.791 66 173 69.012 173 87.942c0 11.32-4.815 23.084-11.705 32.558M144.5 69.707C162 66 166.5 78 166.5 92c0 8.755-3.998 17.993-9.747 25.805M143 142.422V164.5c0 1-.8 3-4 3-4 0-6-1.5-6-3v-18.714m10-3.364c-3.376 1.747-6.751 2.91-10 3.364M117.311 95l-12-7m55.984 32.5-4.542-2.695M154 93.5 133 123m18.5-16.5-8.5 12.419"
  />
  <path
    fill="#fff"
    d="M109 187.788 93 197v-16.2l-14 8.08L58 201v-25.643L88 109l17.662-10L74 170v5.357L93 164.5V145l16-9v51.788Z"
  />
  <path
    fill="#C5F4EC"
    d="m109 136-16 9-6.212-3.675 6.518-14.617L105.662 99 88 109 71 99l17.662-10 17 10-12.356 27.708L109 136Zm-35 39.357L93 164.5 77.568 162 74 170v5.357Z"
  />
  <path fill="#6FDAC9" d="M58 175.357 88 109 71 99l-30 66.357 17 10Z" />
  <path
    fill="#10B1B1"
    d="M93 145v19.5L77.568 162l2.332-5.23 6.888-15.445L93 145Zm-35 56v-25.643l-17-10V191l17 10Zm35-4v-16.2l-14 8.08L93 197Z"
  />
  <path
    stroke="#171321"
    stroke-width="2"
    d="m93 197 16-9.212V136m-16 61v-16.2l-14 8.08M93 197l-14-8.12M109 136l-16 9m16-9-15.694-9.292M93 145v19.5m0-19.5-6.212-3.675M93 164.5l-19 10.857V170l3.568-8 2.332-5.231M93 164.5l-13.1-7.731M105.662 99 88 109m17.662-10-12.356 27.708M105.662 99l-17-10L71 99m17 10-30 66.357M88 109 71 99m-13 76.357V201m0-25.643-17-10M58 201l21-12.12M58 201l-17-10v-25.643M71 99l-30 66.357m38.9-8.588 6.888-15.444m0 0 6.518-14.617"
  />
</svg>
