<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 72 72" class="block h-full w-full">
  <rect width="72" height="72" fill="#E7E4F2" rx="36" />
  <path
    fill="#fff"
    stroke="#171321"
    stroke-linecap="square"
    stroke-width="2"
    d="M59 39.647V17.412c-9.2 0-16.56-1.647-23-7.412-6.44 5.765-13.8 7.412-23 7.412v22.235C13 56.941 36 66 36 66s23-9.059 23-26.353Z"
  />
  <circle cx="36" cy="37.833" r="13" fill="#6FDAC9" stroke="#171321" stroke-linecap="square" stroke-width="2" />
  <path stroke="#171321" stroke-linecap="square" stroke-width="2" d="m31.556 38.34 2.614 2.623 6.275-6.296" />
</svg>
