<figure>
  <a
    href="{{ .Destination | safeURL }}"
    target="_blank"
    rel="nofollow"
    class="grid h-96 w-96 place-items-center rounded bg-neutral-50 !text-neutral-200 no-underline hover:bg-neutral-100 hover:!text-neutral-300"
  >
    {{ partial "svg/eye-slash.html" }}

    <span class="text-lg font-semibold">Click to open external image</span>
  </a>
</figure>
