@import "chroma.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-default;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-heading;
}

.menu a {
  @apply decoration-white/60 decoration-2 underline-offset-4 hover:underline;
}

.menu a.active {
  @apply underline decoration-white;
}

footer a {
  @apply underline hover:text-link;
}

.pagination {
  @apply flex flex-row items-center justify-center space-x-2;

  .page-item a {
    @apply rounded border border-neutral-200 px-4 py-2 hover:border-purple-200 hover:bg-purple-50;
  }

  .page-item.active a {
    @apply border-purple-200 bg-purple-100 font-semibold;
  }

  .page-item.disabled a {
    @apply cursor-not-allowed !border-neutral-100 !bg-white !text-neutral-300;
  }
}

.pagefind-ui__hidden {
  @apply !hidden;
}

.pagefind-ui__search-input {
  @apply w-full rounded bg-purple-700 px-2 py-1 grow placeholder:italic placeholder:text-purple-300 focus:bg-white focus:text-default focus:placeholder:text-subtle lg:block;
}

.pagefind-ui__search-clear {
  @apply hidden;
}

.pagefind-ui__drawer {
  @apply absolute left-0 top-12 md:top-9 md:-left-1 border rounded bg-white border-neutral-100 shadow-lg p-4 text-default flex flex-col space-y-4 md:space-y-0 md:flex-row md:space-x-4 z-50;
}

.pagefind-ui__filter-panel {
  @apply min-w-48;
}

.pagefind-ui__results-area {
  @apply min-w-96;
}

.pagefind-ui__filter-value {
  @apply w-48 truncate;
}

.pagefind-ui__filter-panel-label, .pagefind-ui__message {
  @apply text-lg font-semibold pb-4;
}

.pagefind-ui__filter-group-label {
  @apply hidden;
}

.pagefind-ui__filter-name {
  @apply cursor-pointer;
}

.pagefind-ui__filter-label {
  @apply text-sm truncate;
}

.pagefind-ui__results {
  @apply divide-y divide-neutral-100;
}

.pagefind-ui__result {
  @apply first:pt-0 pt-4 pb-4;
}

.pagefind-ui__result-title {
  @apply text-lg font-semibold text-link underline pb-4;
}

.pagefind-ui__result-excerpt {
  @apply text-sm italic;
}

.pagefind-ui__drawer mark {
  @apply bg-orange-100 px-1 rounded font-semibold;
}

.pagefind-ui__button {
  @apply rounded border border-purple-500 bg-purple-400 py-2 px-3 mt-8 text-white shadow hover:border-purple-700 hover:bg-purple-600;
}

.dep-scan-cta {
  @apply border-t border-neutral-100 mt-16 text-subtle;
}
