<div class="divide-y divide-neutral-100">
  {{ range . }}
    {{- $page := . }}
    {{- $package := index (.GetTerms "packages") 0 -}}
    <article class="space-y-4 py-8">
      <header class="space-y-4">
        <nav class="flex flex-col space-y-4 sm:flex-row sm:items-center sm:justify-between sm:space-x-2 sm:space-y-0">
          <ol class="flex flex-row items-center space-x-2 truncate">
            <li>{{ .Params.ecosystem }}</li>
            <li>&#8250;</li>
            <li class="truncate">
              <a href="{{ $package.RelPermalink }}" class="text-link hover:underline">{{ .Params.package_name }}</a>
            </li>
            <li>&#8250;</li>
            <li class="font-semibold">
              <a href="{{ .RelPermalink }}" class="text-link hover:underline">{{ .Params.identifier }}</a>
            </li>
          </ol>

          {{- with .Params.cvss_score }}
            {{ partial "cvss-severity.html" $page }}
          {{ end -}}
        </nav>

        <h2 class="text-lg font-semibold">
          <a href="{{ .RelPermalink }}" class="text-link underline">{{ .Title }}</a>
        </h2>
      </header>

      <p>{{ .Summary }}</p>

      <footer></footer>
    </article>
  {{ end }}
</div>
