{{- with resources.Get "js/main.js" }}
  {{- if hugo.IsDevelopment }}
    {{- with . | js.Build }}
      <script src="{{ .RelPermalink }}"></script>
    {{- end }}
  {{- else }}
    {{- with site.Params.gtm_id }}
      <!-- Default consent logic based on visitor's location -->
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}

        gtag('consent', 'default', {
          'analytics_storage': 'granted',
          'ad_storage': 'granted',
          'functionality_storage': 'granted',
          'wait_for_update': 500
        });

        gtag('consent', 'default', {
          'analytics_storage': 'denied',
          'ad_storage': 'denied',
          'functionality_storage': 'denied',
          'region': ['AT','BE','BG','HR','CY','CZ','DK','EE','FI','FR','DE','GR','HU','IE','IT','LV','LT','LU','MT','NL','PL','PT','RO','SK','SI','ES','SE','IS','LI','NO','RU','GB','PE','CO','KR','CA-QC'],
          'wait_for_update': 500
        });
      </script>
      <!-- End default consent logic -->

      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','{{ . }}');</script>
      <!-- End Google Tag Manager -->

      {{- with site.Params.ot_id }}
        <!-- OneTrust Cookies Consent Notice -->
        <script type="text/javascript" src="https://cdn.cookielaw.org/consent/{{ . }}/OtAutoBlock.js" ></script>
        <script src="https://cdn.cookielaw.org/scripttemplates/otSDKStub.js" type="text/javascript" charset="UTF-8" data-domain-script="{{ . }}" ></script>
        <script type="text/javascript">
          function OptanonWrapper() { }
        </script>
        <!-- End OneTrust Cookies Consent Notice -->
      {{ else -}}
        {{- errorf "Missing site param: ot_id" -}}
      {{ end -}}
    {{ else -}}
      {{- errorf "Missing site param: gtm_id" -}}
    {{ end -}}
    {{- $opts := dict "minify" true }}
    {{- with . | js.Build $opts | fingerprint }}
      <script src="{{ .RelPermalink }}" integrity="{{- .Data.Integrity }}" crossorigin="anonymous"></script>
    {{- end }}
  {{- end }}
  <script src="/pagefind/pagefind-ui.js"></script>
{{- end }}
