{{ define "main" }}
  <section class="my-8 grid grid-cols-3 content-center justify-between gap-16 md:my-16">
    <div class="prose col-span-3 w-full max-w-none content-center prose-a:text-link lg:col-span-2">
      <h1 class="text-2xl md:text-4xl lg:text-5xl">Page Not Found</h1>

      <p class="lead">It seems you've stumbled upon a page that doesn't exist on this website.</p>

      <p>Here are a few things you can do:</p>

      <ul>
        <li>Use the search bar at the top to find what you’re looking for.</li>
        <li>Go back to the <a href="{{ .Site.Home.RelPermalink }}">home page</a>.</li>
        <li><a href="https://gitlab.com/gitlab-org/security-products/gemnasium-db/-/issues/new" target="_blank" rel="nofollow">Create an issue</a> in the advisory database if you believe something is missing.</li>
      </ul>
    </div>
    <div class="hidden w-full lg:block">{{ partial "svg/error-404-lg.html" }}</div>
  </section>
{{ end }}

