<!doctype html>
<html lang="{{ or site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="min-h-screen space-y-8">
    <div>
      <header class="bg-navbar py-2 text-white">
        {{ partial "header.html" . }}
      </header>
      {{- if eq hugo.Environment "staging" }}
        <div class="bg-orange-100 text-orange-600 font-semibold text-sm uppercase py-1 flex flex-row space-x-4 items-center justify-center">
          <span>🚧</span>
          <span>Staging Preview</span>
          {{- with os.Getenv "HUGO_CI_MERGE_REQUEST_PROJECT_URL" }}
            <span>|</span>
            <a href="{{ . }}/-/merge_requests/{{ os.Getenv "HUGO_CI_MERGE_REQUEST_IID" }}" target="_blank" rel="nofollow" class="underline hover:text-link">Merge Request</a>
          {{ end -}}
          <span>🚧</span>
        </div>
      {{ end -}}
    </div>

    <main class="container mx-auto max-w-screen-xl px-4 lg:px-8">
      {{ block "main" . }}{{ end }}
    </main>

    <footer class="sticky top-[100vh] border-t border-neutral-100">
      {{ partial "footer.html" . }}
    </footer>

    {{- if hugo.IsProduction }}
      {{- with site.Params.gtm_id }}
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ . }}" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      {{ else -}}
        {{- errorf "Missing site param: gtm_id" -}}
      {{ end -}}
    {{ end -}}
  </body>
</html>
