{{ define "main" }}
  <section class="my-8 grid grid-cols-3 content-center justify-between gap-16 md:my-16">
    <div class="prose col-span-3 w-full max-w-none content-center prose-a:text-link lg:col-span-2">
      <h1 class="text-2xl md:text-4xl lg:text-5xl">GitLab Advisory Database</h1>

      <p class="lead">
        This site offers a simple way to search for advisories in the
        <a href="https://gitlab.com/gitlab-org/security-products/gemnasium-db">GitLab Advisory Database</a>. The
        database contains information about security issues in software dependencies that you might be using in your
        projects.
      </p>

      <p>
        GitLab’s Dependency Scanning feature also utilizes this database to scan your application’s dependencies for
        known vulnerabilities.
      </p>

      <p class="not-prose mt-8">
        <a
          href="https://docs.gitlab.com/ee/user/application_security/dependency_scanning/index.html"
          class="rounded border border-purple-600 bg-purple-500 p-3 text-white shadow hover:border-purple-700 hover:bg-purple-600"
          target="_blank"
          >Learn more about Dependency Scanning &rarr;</a
        >
      </p>
    </div>
    <div class="hidden w-full lg:block">{{ partial "svg/secure-sm.html" }}</div>
  </section>

  <section class="grid grid-cols-1 gap-8 lg:grid-cols-2">
    {{- $advisories := where site.RegularPages "Type" "advisories" -}}
    <div>
      <h2 class="text-2xl font-semibold flex flex-row space-x-2 items-center">
        <span>Recently added</span>
        <a href="/index.xml" target="_blank" title="Subscribe to the advisory RSS feed" class="text-subtle hover:text-orange-300">{{ partial "svg/rss.html" }}</a>
      </h2>
      {{ partial "advisories/list.html" ( $advisories.ByDate.Reverse.Limit 8 ) }}
    </div>

    <div>
      <h2 class="text-2xl font-semibold">Recently updated</h2>
      {{- $updated := slice -}}
      {{- range $advisories -}}
        {{- if gt .Lastmod .Date -}}
          {{- $updated = $updated | append . -}}
        {{- end -}}
      {{- end -}}
      {{ partial "advisories/list.html" ( $updated.ByLastmod.Reverse.Limit 8 ) }}
    </div>
  </section>
{{ end }}
