{{- $score := float (default 0.0 .Params.cvss_score) -}}
{{- $rating := default "NONE" .Params.cvss_rating -}}
{{- $class := "bg-green-50 border-green-100 text-green-900" -}}
{{- if gt $score 7.0 }}
  {{- $class = "bg-red-50 border-red-100 text-red-900" -}}
{{- else if gt $score 4.0 -}}
  {{- $class = "bg-orange-50 border-orange-100 text-orange-900" -}}
{{- end -}}
<span
  title="{{ .Params.cvss }}"
  class="{{ $class }} inline-block flex w-fit cursor-default flex-row items-center space-x-2 rounded border px-2 text-xs font-semibold shadow-sm"
>
  <span>{{ $score }}</span>
  <span class="uppercase">{{ $rating }}</span>
</span>
