<div
  class="container mx-auto flex max-w-screen-xl flex-col items-center justify-between space-x-4 space-y-4 p-4 lg:p-8 text-xs text-subtle lg:flex-row lg:space-y-0 lg:py-8"
>
  <ul class="flex flex-row space-x-4">
    <li><a href="https://gitlab.com/advisories/advisories.gitlab.io">Site Repo</a></li>
    <li><a href="https://about.gitlab.com/company/">About GitLab</a></li>
    <li><a href="https://about.gitlab.com/terms/">Terms</a></li>
    <li><a href="https://about.gitlab.com/privacy/">Privacy Statement</a></li>
    <li><a href="https://about.gitlab.com/company/contact/">Contact</a></li>
    {{- if hugo.IsDevelopment }}
      <li><a href="#">Cookie Settings</a></li>
    {{ else -}}
      <li><button id="ot-sdk-btn" class="ot-sdk-show-settings !border-0 !text-xs !text-subtle !underline !p-0 hover:!text-link hover:!bg-white">Cookie Settings</button></li>
    {{ end -}}
  </ul>

  <p>Page generated <time>{{ time.Now.UTC | time.Format "Mon, 02 Jan 2006 15:04:05 -0700" }}</time>.</p>
</div>
