<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
<link rel="canonical" href="{{ .Permalink }}" />
{{ with .OutputFormats.Get "rss" -}}
  {{ printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
{{ end }}
{{- if .IsHome }}
  <meta name="description" content="{{ .Summary | truncate 150 }}">
{{ end -}}
{{- if eq .Type "advisories" }}
  <meta name="description" content="{{ .Params.identifier }} {{ .Title }}: {{ .Summary | truncate 130 }}">
  <meta property="og:url" content="{{ .Permalink }}">
  <meta property="og:description" content="{{ .Summary | truncate 150 }}">
  <meta property="og:title" content="{{ .Params.identifier }}: {{ .Title }}">
  <meta property="og:site_name" content="{{ site.Title }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="{{ .Permalink }}">
  <meta name="twitter:title" content="{{ .Params.identifier}}: {{ .Title }}">
  <meta name="twitter:description" content="{{ .Summary | truncate 150}}">
{{ end -}}

{{ if hugo.IsProduction -}}
  {{- with site.Params.google_verification_id }}
  <meta name="google-site-verification" content="{{ . }}" />
  {{ else -}}
    {{- errorf "Missing site param: google_verification_id" -}}
  {{ end -}}
{{ end -}}

{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
{{- if eq .Type "advisories" }}
  {{- $data := partial "jsonld/advisory.html" . -}}
  <script type="application/ld+json">
  {{ jsonify (dict "indent" "  ") $data | safeJS }}
  </script>
{{ end -}}
