<div class="container mx-auto flex max-w-screen-xl flex-row items-center justify-between space-x-4 md:space-x-8 px-4 lg:px-8">
  <div>
    <a href="{{ site.Home.RelPermalink }}" class="lg:hidden">
      {{ partial "svg/gitlab-logo.html" }}
    </a>
    <a href="{{ site.Home.RelPermalink }}" class="hidden lg:flex flex-row items-center space-x-2 divide-x">
      {{ partial "svg/gitlab-lockup-white.html" }}
      <span class="pl-2 pt-1 text-lg">Advisory Database</span>
    </a>
  </div>

  <div id="search" class="grow md:relative"></div>

  {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
</div>
