{{- /*
  Renders a menu for the given menu ID.

  @context {page} page The current page.
  @context {string} menuID The menu ID.

  @example: {{ partial "menu.html" (dict "menuID" "main" "page" .)
}}
*/}}
{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
  <nav class="menu relative">
    <div class="md:hidden">
			<button id="navbar-burger" class="flex items-center text-blue-600 p-3">
				<svg class="block h-4 w-4 fill-white" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
					<title>Mobile menu</title>
					<path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
				</svg>
			</button>
		</div>

    <ul id="navbar-menu" class="hidden absolute -left-[220px] w-64 z-50 shadow-lg bg-purple-800 border-purple-900 p-4 flex-col space-y-4 rounded ml-4 md:rounded-none md:shadow-none md:border-none md:p-0 md:ml-0 md:left-0 md:bg-navbar md:relative md:w-fit md:flex md:flex-row md:items-center md:space-x-4 md:space-y-0">
      {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
      <li>
        <a href="https://docs.gitlab.com/ee/user/application_security/dependency_scanning/index.html" target="_blank"
          >Dependency Scanning</a
        >
      </li>
    </ul>
  </nav>
{{- end }}

{{- define "partials/inline/menu/walk.html" }}
  {{- $page := .page }}
  {{- range .menuEntries }}
    {{- $attrs := dict "href" .URL }}
    {{- if $page.IsMenuCurrent .Menu . }}
      {{- $attrs = merge $attrs (dict "class" "active" "aria-current" "page") }}
    {{- else if $page.HasMenuCurrent .Menu . }}
      {{- $attrs = merge $attrs (dict "class" "ancestor" "aria-current" "true") }}
    {{- end }}
    {{- $name := .Name }}
    <li>
      <a
        {{- range $k, $v := $attrs }}
          {{- with $v }}
            {{- printf " %s=%q" $k $v | safeHTMLAttr }}
          {{- end }}
        {{- end -}}
        >{{ $name }}</a
      >
    </li>
  {{- end }}
{{- end }}
