{{ define "main" }}
  <h1 class="mb-16 text-2xl flex flex-row space-x-2 items-center">
    <span>Advisories for <span class="font-semibold">{{ .Title }}</span> package</span>
    {{ with .OutputFormats.Get "rss" -}}
      <a href="{{ .RelPermalink }}" target="_blank" title="Subscribe to {{ $.Title }} advisory RSS feed" class="text-subtle hover:text-orange-300">{{ partial "svg/rss.html" }}</a>
    {{ end }}
  </h1>

  <div class="flex flex-col space-y-16">
    {{- $pages := where .RegularPages "Type" "advisories" -}}
    {{- range
      $pages.GroupByDate "2006"
    }}
      <section>
        <div class="border-b border-neutral-100 text-right text-lg font-semibold text-subtle">
          {{ .Key }}
        </div>

        {{ partial "advisories/list.html" .Pages }}
      </section>
    {{ end -}}
  </div>
{{ end }}
