{{ define "main" }}
  <h1 class="mb-16 text-2xl flex flex-row space-x-2 items-center">
    <span>Advisories</span>
    <a href="/index.xml" target="_blank" title="Subscribe to the advisory RSS feed" class="text-subtle hover:text-orange-300">{{ partial "svg/rss.html" }}</a>
   </h1>

    <div class="flex flex-col space-y-16">
    {{ $pages := where site.RegularPages "Type" "advisories" }}
    {{ $paginator :=
      .Paginate ($pages.GroupByDate "Jan 2006") 500
    }}
    {{ range $paginator.PageGroups }}
      <section>
        <div class="border-b border-neutral-100 text-right text-lg font-semibold text-subtle">
          {{ .Key }}
        </div>

        {{ partial "advisories/list.html" .Pages }}
      </section>
    {{ end -}}

    <nav>{{ partial "pagination.html" . }}</nav>
  </div>
{{ end }}
