{{ define "main" }}
  {{ $package := index (.GetTerms "packages") 0 }}
  {{ $cwe := index (.GetTerms "cwes") 0 }}
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-y-8 lg:gap-y-0 lg:gap-x-8">
    <div class="col-span-2">
      <aside class="mb-8">
        <nav>
          <ol class="flex flex-row items-center space-x-2">
            <li data-pagefind-filter="ecosystem">{{ .Params.ecosystem }}</li>
            <li>&#8250;</li>
            <li class="truncate">
              <a href="{{ $package.RelPermalink }}" class="text-link hover:underline" data-pagefind-filter="package"
                >{{ .Params.package_name }}</a
              >
            </li>
            <li>&#8250;</li>
            <li class="font-semibold">{{ .Params.identifier }}</li>
          </ol>
        </nav>
      </aside>

      <article
        class="prose max-w-none prose-a:text-link"
        data-pagefind-sort="date:{{ .Date | time.Format "2006-01-02" }}"
        data-pagefind-filter="year:{{ .Date | time.Format "2006" }}"
        data-pagefind-body
      >
        <header>
          <h1
            class="text-xl"
            data-identifier="{{ .Params.identifier }}"
            data-pagefind-meta="title"
            data-pagefind-index-attrs="data-identifier"
          >
            {{ .Params.identifier }}: {{ .Title }}
          </h1>

          {{- $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" -}}
          {{- $dateHuman := .Date | time.Format ":date_long" -}}
          <p class="text-subtle" data-pagefind-ignore>
            <time datetime="{{ $dateMachine }}" class="font-semibold">{{ $dateHuman }}</time>
            {{ if .Lastmod.After .Date }}
              {{- $dateMachine := .Lastmod |
                time.Format "2006-01-02T15:04:05-07:00"
              -}}
              {{- $dateHuman := .Lastmod
                | time.Format ":date_long"
              -}}
              (updated
              <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>)
            {{ end -}}
          </p>
        </header>

        {{ .Content }}

        {{- with .Params.urls }}
          <section>
            <h2 class="text-lg">References</h2>
            <ul class="list-inside list-disc space-y-2 pl-1">
              {{- range . }}
                {{ $u := urls.Parse . -}}
                {{- if $u.IsAbs }}
                  <li class="truncate">
                    <a href="{{ . }}" target="_blank" rel="nofollow" class="text-nowrap"
                      ><span class="font-semibold">{{ $u.Host }}</span>{{ $u.RequestURI }}</a
                    >
                  </li>
                {{ end -}}
              {{ end -}}
            </ul>
          </section>
        {{- end }}

        <section class="dep-scan-cta group">
          <h2 class="text-sm text-subtle">Detect and mitigate {{ .Params.identifier }} with GitLab Dependency Scanning</h2>

          <p class="text-sm">Secure your software supply chain by verifying that all open source dependencies used in your projects
          contain no disclosed vulnerabilities.

          <a href="https://docs.gitlab.com/ee/user/application_security/dependency_scanning/index.html"
            class="not-prose text-sm block w-fit mt-6 rounded border border-purple-300 bg-purple-400 p-2 text-white shadow hover:border-purple-700 hover:bg-purple-600"
            target="_blank"
            >Learn more about Dependency Scanning &rarr;</a
          ></p>
        </section>
      </article>
      </article>
    </div>

    <aside class="flex flex-col space-y-8 lg:col-span-1">
      <section class="flex flex-col space-y-4 rounded border border-red-100 bg-red-50 p-4 text-red-900">
        <h2 class="flex flex-row items-center space-x-2 text-lg font-semibold text-red-950">
          {{ partial "svg/warn.html" }}
          <span>Affected versions</span>
        </h2>

        <p>{{ .Params.affected_versions }}</p>
      </section>

      {{- with .Params.fixed_versions }}
        <section class="flex flex-col space-y-4 rounded border border-green-100 bg-green-50 p-4 text-green-900">
          <h2 class="flex flex-row items-center space-x-2 text-lg font-semibold text-green-950">
            {{ partial "svg/check-circle.html" }}
            <span>Fixed versions</span>
          </h2>

          <ul class="list-inside list-disc space-y-2 pl-1">
            {{- range . }}
              <li>{{ . }}</li>
            {{ end -}}
          </ul>
        </section>
      {{ end -}}


      <div class="flex flex-col space-y-4 divide-y divide-neutral-100">
        {{- with .Params.solution }}
          <section class="flex flex-col space-y-4 p-4 pt-2">
            <h2 class="flex flex-row items-center space-x-2 text-lg font-semibold">
              {{ partial "svg/task-done.html" }}
              <span>Solution</span>
            </h2>

            <p>{{ . }}</p>
          </section>
        {{ end -}}

        {{- with .Params.cvss }}
          <section class="flex flex-col space-y-4 p-4">
            <h2 class="flex flex-row items-center justify-between space-x-2 text-lg font-semibold">
              <span class="flex flex-row items-center space-x-2">
                {{ partial "svg/dashboard.html" }}
                <span>Impact</span>
              </span>
              {{- with $.Params.cvss_score }}
                {{ partial "cvss-severity.html" $ }}
              {{ end -}}
            </h2>

            <p class="truncate font-mono text-sm">
              {{- if hasPrefix . "CVSS:3.1" }}
                <a
                  href="https://www.first.org/cvss/calculator/3.1#{{ . | safeURL }}"
                  target="_blank"
                  rel="nofollow"
                  class="text-link underline"
                  >{{ . }}</a
                >
              {{- else if hasPrefix . "CVSS:3.0" }}
                <a
                  href="https://www.first.org/cvss/calculator/3.0#{{ . | safeURL }}"
                  target="_blank"
                  rel="nofollow"
                  class="text-link underline"
                  >{{ . }}</a
                >
              {{- else }}
                {{ . }}
              {{ end -}}
            </p>

            <p class="flex flex-row items-center space-x-2 text-sm italic text-subtle">
              {{ partial "svg/question-o.html" }}
              <a href="https://www.first.org/cvss/" target="_blank" rel="nofollow" class="underline hover:text-link"
                >Learn more about CVSS</a
              >
            </p>
          </section>
        {{ end -}}

        {{- with .Params.cwes }}
          <section class="flex flex-col space-y-4 p-4">
            <h2 class="flex flex-row items-center space-x-2 text-lg font-semibold">
              {{ partial "svg/tag.html" }}
              <span>Weakness</span>
            </h2>

            <ul class="space-y-2">
              {{- range . }}
                {{- $cweID := . -}}
                <li data-pagefind-filter="weakness:CWE-{{ $cweID }}">
                  {{- with index site.Data.cwes $cweID }}
                    <a href="https://cwe.mitre.org/data/definitions/{{ $cweID }}.html" target="_blank" rel="nofollow" class="text-link underline">CWE-{{ $cweID }}</a>: {{ . }}
                  {{ else }}
                    <a href="https://cwe.mitre.org/data/definitions/{{ $cweID }}.html" target="_blank" rel="nofollow" class="text-link underline">CWE-{{ $cweID }}</a>
                  {{ end }}
                </li>
              {{ end -}}
            </ul>
          </section>
        {{ end -}}


        {{- with .Params.source_file }}
          <section class="flex flex-col space-y-4 p-4">
            <h2 class="flex flex-row items-center space-x-2 text-lg font-semibold">
              {{ partial "svg/doc-code.html" }}
              <span>Source file</span>
            </h2>

            <p class="truncate font-mono text-sm">
              <a
                href="https://gitlab.com/gitlab-org/security-products/gemnasium-db/-/blob/master/{{ . | safeURL }}"
                target="_blank"
                rel="nofollow"
                class="text-link underline"
                >{{ . }}</a
              >
            </p>

            <p class="text-sm italic text-subtle">
              Spotted a mistake?
              <a
                href="https://gitlab.com/gitlab-org/security-products/gemnasium-db/-/edit/master/{{ . | safeURL }}"
                target="_blank"
                rel="nofollow"
                class="underline hover:text-link"
                >Edit the file on GitLab</a
              >.
            </p>
          </section>
        {{ end -}}
      </div>
    </aside>
  </div>
{{ end }}
